@import './assets/styles/standardStyle.css';
@import './assets/styles/layoutStyle.css';
@import './assets/styles/pageAndViewStyle.css';
@import './assets/styles/fontStyle.css';
@import './assets/styles/colorStyle.css';
@import './assets//styles//iconAndImageStyle.css';

@import './assets/styles/mediaScreen.css';

.App {
    font-family: Cairo;
} 

input:focus{
    outline: none;
    border:1px solid cornflowerblue
}
textarea:focus{
    outline: none;
    border:1px solid cornflowerblue
}

