.gray {
    color: gray;
}
.lightGray {
    color:rgb(241, 241, 241);
}
.white {
    color: white;
}
.black {
    color: black;
}
.blue{
    color:#1e6eb7
}
.bgLightGray {
    background-color: rgb(241, 241, 241);
}
.bgGray {
    background-color: gray
}
.bgBlack {
    background-color: black;
}
.bgWhite {
    background-color: white;
}
.bgBlue {
    background-color: #1e6eb7;
}
.bgRed {
    background-color: red;
}