.gray {
    color: gray;
}
.white {
    color: white;
}
.black {
    color: black;
}
.bgGray {
    background-color: gray
}
.bgBlack {
    background-color: black;
}
.bgWhite {
    background-color: white;
}
.bgBlue {
    background-color: blue;
}
.bgRed {
    background-color: red;
}