.gray {
    color: gray;
}
.lightGray {
    color:rgb(241, 241, 241);
}
.white {
    color: white;
}
.black {
    color: black;
}
.blue{
    color:#1e6eb7
}
.green {
    color: green;
}
.bgLightOrange{
    background-color: #FBE1C3;
}
.bgLightBlue{
    background-color:#D6EBF7
}
.bgLightRed{
    background-color:#F1D1D4
}
.bgLightGray {
    background-color: #FAFAFA
}
.bgGray {
    background-color: rgb(211, 211, 211)
}
.bgBlack {
    background-color: black;
}
.bgWhite {
    background-color: white;
}
.bgBlue {
    background-color: #1E6EB7;
}
.bgGreen {
    background-color: green;
}
.bgRed {
    background-color: red;
}
.bgHardRed {
    background-color: #CE7676;
}
.bgBlueGreen {
    background: linear-gradient( #0D988C, #1E6EB7);
}