.pages {
    margin-left: 181px;
    margin-top: 80px;
    /* padding-top: 30px; */
}
.page {
    padding-top: 50px;
}
.line:hover{
    background-color: #2F81A522
}
.modal {
    font-family: Cairo;
}
.ReactModal__Overlay {
    background-color: rgba(117, 117, 117, 0.719) !important;
}